.weather-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start
}

.weather-box {
    background-color: #653030;
    border-radius: 8px;
    padding: 16px;
    /* margin-bottom: 16px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

.location {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.date-time {
    font-size: 15px;
    color: #0d0d0d;
    margin-bottom: 4px;
}

.temperature,
.feels-like,
.humidity {
    font-size: 16px;
    margin-bottom: 4px;
}

.humidity {
    margin-bottom: 0;
}